

body {
    background-color: #f9f7fd;
    color: #100a1f;
    margin: 0;
    font-family: 'FontName', sans-serif;    
}

.grid {
    width: 100%;    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 475px));
    grid-auto-rows: 550px;
}

h1{
  margin-left: 16px;
}

.gridYourOwnPets {
  width: 100%;    
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 475px));
  grid-auto-rows: 600px;
}

.gridYourClaimedPets {
  width: 100%;    
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 475px));
  grid-auto-rows: 480px;
}

.petCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;  
    background-color: #e4baaa;  
    margin: 12px;
  }
  
.petCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.petCardTextContainer {
    padding: 2px 16px;    
  }

  .petCard img {
    width: 100%;
    height: 300px;
    border-radius: 5px 5px 0 0;
  }

.topnav {
  background-color: #e4baaa;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav button {
  float: right;
  color: #e4baaa;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #aae4ba;
  color: #ffffff;
}

.topnav a.active {
  background-color: #aae4ba;
  color: #ffffff;
}

.petCardContent {  
  width: 100%;    
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  padding: 16px;
}

.filters {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px; 
  background-color: #e4baaa;  
}

.filters .form-group {
  margin-bottom: 10px;
}

.filters label {
  display: inline-block;
  width: 150px;
  margin: 8px;
  text-align: right;
  margin-right: 10px;
}

.filters select,
input[type="date"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.filters button[type="submit"] {
  display: block;
  margin-top: 10px;
  margin-left: 150px;
  padding: 10px;
  background-color: #aae4ba;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.claimForm button[type="submit"]:hover {
  background-color: #45a049;
}

.claimForm button[type="submit"] {
  display: block;
  margin-top: 10px;
  margin-left: 150px;
  padding: 10px;
  background-color: #aae4ba;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.claimForm button[type="submit"]:hover {
  background-color: #45a049;
}

.claimed{
  color: #aae4ba;
  text-align: center;
}

.petContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.row {
  margin: 0;
}

.petCardOne {
  width: 700px;
  background-color: #e4baaa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
}

.petCardOne img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.petCardContent {
  display: flex;
  justify-content: space-between;
}

.petCardOne .leftSide {
  flex: 1;
}

.petCardOne .rightSide {
  flex: 1;
  margin-right: 50px;
}

.petCardContent h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.petCardContent p {
  margin-bottom: 5px;
}

.petCardContent hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ddd;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-container .profile-info {
  display: flex;
  align-items: center;
}

.profile-container .profile-info img {
  margin-left: 20px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-container .profile-info p {
  margin-right: 20px;
}